<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<style type="text/css">
/*		.background{
			background-color:white;
			border-style: solid;
			border-width: 5px;
			border-color: #428bca;
			position: absolute;
			top: 21%;
			left: 37%;
			width: 25%;
			height: 40%;


		}*/
		.login{
			position: absolute;
			top: 20%;
			left: 40%;
		}
	</style>
	{% load static%}
	<!--jquary-->
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<!--bootstrap-->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top" >
		<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand"  href="#">
					<img  src="https://lh4.googleusercontent.com/rufg53bB5Go4zzM4rSsSeo4CHZ1GibYnGXPFssHHFK56p0X9Ki-XoaJYESAqfZF_tVAwww=s190" height="25" width="120">
					</a>
				</div>
			</div>
		</div>
	</nav>
	<div class="background">
	<div class="login">
		<form method="post" >{% csrf_token %}
			<div class="form-group">
				<label for="username">Username</label>
				<input type="text" name="username" id="username" ><br />
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				<input type="password" name="password" id="password"  value=""><br />
			</div>
			<div class="row">
				<div class="col-md-4 col-md-offset-2">
					<button type="submit" class="btn btn-default" >Submit</button>
				</div>
			</div>
		</form>
	</div>

</body>
</html>